// Method: isValidMove
	// Return Type: boolean - if it is a valid move, returns true
	//						  if invalid move, returns false
	// Parameters: Location from - location where pawn begins
	//			   Location to - location pawn wants to move to
	//			   Piece [][]b - the 2D array that contains the pieces for the board
	// Description: Overrides piece class' isValidMove method so it is accurate for the pawn piece





# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
